<ion-view class="security login">
    <!-- HEADER -->
    <div class="title">
        Moto App
    </div>
    <div class="legend">
        Calentando Motores.
    </div>
    <!-- BUTTON'S -->
    <div class="buttons">
        <button class="button button-block facebook" ng-click="login('facebook')">
            <i class="icon ion-social-facebook"></i>
            <span>Ingresar con Facebook</span>
        </button>
        <button class="button button-block google" ng-click="login('google')">
            <i class="icon ion-social-google"></i>
            <span>Ingresar con Google</span>
        </button>
        
    </div>
</ion-view>
