@import "../../../bundles/app/css/_variables";
[md-theme='imoto'] {
    /*------------------------- 
    VIEW:   PROFILE PAGE
    ROUTE:  /app/profile
    -------------------------*/
    ion-view.profile {
        /*
           TITLE
        */
        .title {
            padding-bottom: 0.5em !important;
            background-color: $primary_Hue900_color;
            margin-bottom: 1em;
            line-height: 1em;
            div.col:first-child {
                text-transform: uppercase;
            }
        }
        /*------------------------- 
        VIEW:   Profile Account Page
        ROUTE:  /app/profile
        -------------------------*/
        &.index {
            div.experience {
                padding-top: 2em;
                padding-bottom: 4em;
                > div.brand {
                    margin-left: 5%;
                    color: $accent_color;
                    font-size: 1.2em;
                    padding-bottom: 0.3em;
                    > span {
                        text-transform: capitalize;
                        opacity: 0.7;
                        font-style: italic;
                    }
                }
                > div.progress {
                    background-color: #fff;
                    height: 7px;
                    width: 90%;
                    border-radius: 3px;
                    overflow: hidden;
                    margin-left: 5%;
                    > div {
                        height: 100%;
                        background-color: $accent_color;
                    }
                }
                > div.points {
                    text-align: right;
                    margin-right: 7%;
                    padding-top: 0.4em;
                    font-size: 1.1em;
                }
            }
            div.stats {
                padding-top: 1em;
                margin-bottom: 1em;
                .profile-bubble {
                    padding-bottom: 0.5em;
                    div.marker {
                        width: 7em;
                        height: 7em;
                        > div.halo {
                            border-radius: 50%;
                            border: 1px solid #c0c1c2;
                            width: 100%;
                            height: 100%;
                            padding: 5%;
                            > div {
                                border-radius: 50%;
                                overflow: hidden;
                                height: 100%;
                                width: 100%;
                                background: $primary_color;
                                > img {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                .title {
                    font-size: 1.2em;
                    padding-left: 0.6em;
                    background-color: rgba(0, 0, 0, 0);
                    margin-bottom: 3px;
                }
                .counter {
                    color: $accent_color;
                    font-size: 1.7em;
                    font-weight: bold;
                    padding-left: 0.6em;
                    padding-bottom: 5px;
                }
                .category {
                    padding-left: 0.8em;
                }
                /*
                        TWITTER LIKE
                    */
                .follower,
                .following {
                    padding-left: 1em;
                    color: #B7B7B7;
                    text-transform: uppercase;
                    font-size: 0.9em;
                    white-space: nowrap;
                    > span {
                        font-weight: bold;
                        color: $text_color;
                        padding-right: 3px;
                        white-space: nowrap;
                    }
                }
            }
            /*
                    CLOSE SESSION
                */
            button.close-session {
                color: $text_color;
                background: rgba(0, 0, 0, 0);
                border: none;
                >i {
                    color: $text_color;
                    padding-right: 10px;
                }
                > span {
                    font-size: 0.8em;
                    text-transform: uppercase;
                }
            }
            /*
                    LIST ITEM
                */
            .list-item {
                border-top: 1px solid #313131;
                background-color: $primary_Hue900_color;
                padding: 0.4em;
                margin: 0;
                div.col:first-child {
                    text-transform: uppercase;
                    padding: 0.8em;
                }
                div.col:last-child {
                    font-size: 1.6em;
                    @include align-items(center);
                    @include justify-content(flex-end);
                    @include flexbox();
                    padding-right: 0.5em;
                }
                &:last-child {
                    border-bottom: 1px solid #313131;
                }
            }
        }
        /*------------------------- 
            VIEW:   Profile Edit Page
            ROUTE:  /app/profile/edit/index
            -------------------------*/
        &.edit {
            div.fav-button {
                position: absolute;
                right: 1em;
                border-radius: 50%;
                height: 3.5em;
                width: 3.5em;
                background-color: $accent_color;
                @include align-items(center);
                @include justify-content(center);
                @include flexbox();
                margin-top: -1em;
                > i {
                    color: $primary_color;
                    text-align: center;
                    font-size: 1.8em;
                }
            }
            div.row {
                padding-bottom: 1em;
                &.phones {
                    div.col {
                        padding: 0.5em;
                        a {
                            text-decoration: none;
                            color: $accent_color;
                        }
                    }
                }
            }
            input.value,
            select.value {
                width: 99%;
                background: rgba(0, 0, 0, 0);
                border: 1px solid $accent_color;
                border-radius: 4px;
                color: #fff;
                font-size: 1.6em;
                text-align: center;
            }
        }
    }
    /*------------------------- 
    VIEW:   MEDALS Page
    ROUTE:  /app/profile/edit/medals
    -------------------------*/
    ion-view.medals {
        ion-content {
            background: transparent;
            ion-item {
                border-radius: 2px;
                margin: 0.5em 0.5em 0em 0.5em;
                padding-bottom: 8px;
                background: none;
                border: none;
                margin-top: 0.6em;
                img {
                    top: 6px;
                    left: 12px;
                    max-width: 50px;
                    max-height: 50px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: absolute;
                }
                .points {
                    position: absolute;
                    left: 8px;
                    top: 54px;
                    font-size: 0.75em;
                    width: 60px;
                    text-align: center;
                }
                > div.wrap {
                    position: absolute;
                    left: 4px;
                    right: 4px;
                    height: 76px;
                    background: #fff;
                    top: 0px;
                    border-radius: 3px;
                    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
                    border: 1px solid #ddd;
                    background-color: #fff;
                    color: #444;
                    @include box-shadow(3px);
                }
                > div.information {
                    min-height: 55px;
                    position: absolute;
                    p {
                        font-size: 0.8em;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        line-height: 1.2em;
                        white-space: normal;
                        &.stamp {
                            text-align: right;
                        }
                    }
                    h2 {
                        margin-right: 27px;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
