<ion-view title="Mi Perfil" class="profile index" cache-view="false" can-swipe-back="false">
    <!-- LOADING -->
    <flex-loading ng-if="!profile" title="Recopilando Información..." legend="solo queremos saber ti ^^">
    </flex-loading>
    <!-- CONTENT -->
    <div ng-if="profile">
        <ion-content>
            <!-- HEADER PROFILE -->
            <div class="stats">
                <div class="row">
                    <div class="col col-33">
                        <!-- BUBBLE -->
                        <div class="profile-bubble">
                            <div class="marker">
                                <div class="halo">
                                    <div>
                                        <img ng-src="{{profile.account.photo | restricted}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col no-padding">
                        <!-- STATS -->
                        <div class="row no-padding">
                            <div class="col no-padding">
                                <div class="title">
                                    Total Recorrido
                                </div>
                                <div class="counter">
                                    {{ profile.social.distance | distance }} km
                                </div>
                                <div class="category">
                                    {{ profile.sport.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col follower col-33">
                        <span>{{ profile.social.following }}</span> Siguiendo
                    </div>
                    <div class="col following col-offset-5">
                        <span>{{ profile.social.followers }}</span> Seguidores
                    </div>
                </div>
            </div>
            <!-- EXPERIENCE LEVE -->
            <div class="experience">
                <div class="brand">
                    {{profile.social.experience.title}} &nbsp;
                    <span>(Categoria {{profile.social.experience.category}})</span>
                </div>
                <div class="progress">
                    <div style="width:{{getProgress(profile.social.experience)}}%">
                    </div>
                </div>
                <div class=" points">
                    {{profile.social.experience.total}} / {{profile.social.experience.level}}
                </div>
            </div>
            <!-- LIST ITEM's -->
            <div class="row list-item" ng-click="edit();">
                <div class="col">
                    Editar Perfil
                </div>
                <div class="col col-20">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </div>
            <div class="row list-item" ng-click="medals();">
                <div class="col">
                    {{profile.social.medals.user}}/{{profile.social.medals.total}} Medallas Obtenidas
                </div>
                <div class="col col-20">
                    <i class="icon ion-ios-arrow-right"></i>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar>
            <!-- CLOSE SESSION -->
            <button class="close-session button button-block" ng-click="logOut();">
                <i class="icon ion-ios-undo"></i>
                <span>Cerrar Sesión</span>
            </button>
        </ion-footer-bar>
    </div>
</ion-view>
