@import "../../../bundles/app/css/variables";

/*------------------------- 
VIEW:   First Run View's
ROUTE:  /app/firstRun/*
-------------------------*/
ion-view.firstRun {
    /*------------------------- 
    VIEW:   First Time Configuration
    ROUTE:  /app/firstRun/configuration
    -------------------------*/
    &.configuration {
        .title {
            padding-bottom: 0.5em !important;
            background-color: $primary_Hue900_color;
            margin-bottom: 1em;
            line-height: 1em;
            div.col:first-child {
                text-transform: uppercase;
            }
        }
        &.step-1 {
            background-image: url(images/backgrounds/background-2.jpg);
            background-size: 100%;
            ion-content {
                background: none;
                div.welcome {
                    color: $accent_color;
                    padding: 1em;
                    padding-bottom: 2em;
                    padding-top: 2em;
                    text-align: justify;
                    h1 {
                        color: $accent_color;
                        font-size: 1.6em;
                        font-weight: normal;
                    }
                }
                div.fav-button {
                    position: absolute;
                    right: 1em;
                    border-radius: 50%;
                    height: 3.5em;
                    width: 3.5em;
                    background-color: $accent_color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: -1em;
                    > i {
                        color: $primary_color;
                        text-align: center;
                        font-size: 1.8em;
                    }
                }
                div.row {
                    padding-bottom: 1em;
                    &.phones {
                        div.col {
                            padding: 0.5em;
                            a {
                                text-decoration: none;
                                color: $accent_color;
                            }
                        }
                    }
                }
                input.value,
                select.value {
                    width: 99%;
                    background: rgba(0, 0, 0, 0);
                    border: 1px solid $accent_color;
                    border-radius: 4px;
                    color: #fff;
                    font-size: 1.6em;
                    text-align: center;
                }
            }
        }
    }
}
