/*--------------------------------------------------
Whether the application is running within a webview on 
the device within a native application
--------------------------------------------------*/

.platform-webview {
    /*------------------------------------------------------
    SPECIFIC VIEW'S
    ------------------------------------------------------*/
    ion-view.pane {
        /*------------------------- 
        VIEW:   Pause Page
        -------------------------*/
        &.pause {
            ion-footer-bar {
                > button {
                    /* IN MOBILE, THE RED CIRCLE DONT SHOW PROPERLY */
                    > div {
                        position: absolute;
                        left: 41%;
                    }
                }
            }
        }
    }
}


/*--------------------------------------------------
  PORTRAIT IOS VIEWPORT' (DEFAULT DIMENSIONS ARE FOR iPhone 5 and 5S)
--------------------------------------------------*/

.platform-ios {
    ion-view.pane {
        /*------------------------- 
        VIEW:   Share Page
        -------------------------*/
        &.share {
            .maps {
                margin-top: 17px;
            }
        }
    }
    /* iPhone 4 and 4S */
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {}
    /* iPhone 6 */
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        /*------------------------------------------------------
        SPECIFIC VIEW'S
        ------------------------------------------------------*/
        ion-view.pane {
            &.route {
                /*------------------------- 
                VIEW:   Pause Page
                -------------------------*/
                &.pause {
                    .buttons {
                        .chart-container {
                            margin-top: -13px !important;
                            margin-left: 24px !important;
                        }
                    }
                }
                /*------------------------- 
                VIEW:   Stop Page
                -------------------------*/
                &.stop {
                    .buttons {
                        .chart-container {
                            margin-top: -0.65em !important;
                            margin-left: 0.84em !important;
                        }
                    }
                }
            }
        }
    }
    /* iPhone 6+ (plus) */
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {}
}
