<ion-view title="Rutas" class="route main">
    <ion-tabs class="tabs-top  tabs-icon-top">
        <ion-tab title="Populares" icon="icon ion-podium">
            <popular-routes>
            </popular-routes>
        </ion-tab>
        <ion-tab title="Mias" icon="icon ion-clock">
            <my-routes>
            </my-routes>
        </ion-tab>
        <ion-tab title="Embajadores" icon="icon ion-person-stalker">
            <ambassadors>
            </ambassadors>
        </ion-tab>
    </ion-tabs>
</ion-view>
