<ion-view title="Rutas" class="routes main" can-swipe-back="false">
    <ion-tabs class="tabs-top  tabs-icon-top">
        <ion-tab title="Populares" icon="icon ion-podium">
            <popular-routes>
            </popular-routes>
        </ion-tab>
        <ion-tab title="Mis Rutas" icon="icon ion-android-stopwatch">
            <my-routes>
            </my-routes>
        </ion-tab>
        <ion-tab title="Compartidas" icon="icon ion-person-stalker">
            <shared-routes>
            </shared-routes>
        </ion-tab>
    </ion-tabs>
</ion-view>
