<!-- LOADING -->
<flex-loading ng-if="!items" title="Cargando tus rutas" legend="y sesiones que aun no compartes =(">
</flex-loading>
<!-- CONTENT -->
<div ng-if="items">
    <ion-content>
        <ion-refresher pulling-text="Vamos!, con un poco mas de fuerza..." spinner="lines" on-refresh="doRefresh()">
        </ion-refresher>
        <ion-list>
            <ion-item ng-repeat="item in items" class=" item-thumbnail-left">
                <div class="information">
                    <preload-image ng-src="item.image"></preload-image>
                    <h2>{{item.name}}</h2>
                    <p>{{item.observation}}</p>
                    <div class="likes">
                        <i class="icon ion-heart"></i>
                        <span>{{item.likes}}</span>
                    </div>
                </div>
                <div class="markers row no-padding">
                    <div class="col no-padding">
                        <i class="icon ion-ios-stopwatch-outline"></i>
                        <span class="value">{{item.markers.duration.stamp}}</span>
                    </div>
                    <div class="col no-padding">
                        <i class="icon ion-map"></i>
                        <span class="value">{{item.markers.distance}}</span>
                        <span class="unit">km</span>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</div>
