<ion-view title="Notificaciones" class="notifications" can-swipe-back="false">
    <!-- LOADING -->
    <flex-loading ng-if="!items" title="Notificaciones, Notificaciones ..." legend="Ohh! Notificaciones...">
    </flex-loading>
    <!-- EMPTY DATA -->
    <empty-data ng-if="items.length==0">
    </empty-data>
    <!-- CONTENT -->
    <div ng-if="items">
        <ion-content>
            <ion-refresher pulling-text="Vamos!, con un poco mas de fuerza..." spinner="lines" on-refresh="doRefresh()">
            </ion-refresher>
            <ion-list>
                <ion-item ng-repeat="item in items" class="item-avatar">
                    <div class="information">

                        <preload-image ng-src="item.image"></preload-image>
                        <h2>{{item.type.name}}</h2>
                        <p>{{item.text}}</p>
                        <p class="stamp" am-time-ago="item.createdAt"></p>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
</ion-view>
