<ion-view class="route pause" can-swipe-back="false">
    <!-- CONTENT -->
    <!-- HIDDEN IN THIS STEP -->
    <div class="row common-actions">
        <div class="col no-padding" ng-click="takePicture();">
            <i class="icon ion-ios-camera"></i>
            <div>Tomar Foto</div>
            <span ng-if="resume.photos.length>0" class="badge badge-assertive">{{resume.photos.length}}</span>
        </div>
        <div class="col">
            <label class="toggle toggle-energized">
                <input type="checkbox">
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
            <div>Compartir en Vivo</div>
        </div>
    </div>
    <!-- DISTANCE -->
    <div class="row distance">
        <div class="col">
            <div>
                {{ resume.distance | distance}}
            </div>
            <div>
                Kilometros
            </div>
        </div>
    </div>
    <!-- BUTTON's -->
    <div class="row buttons">
        <div class="col">
            <div class="counter-button play" ng-click="continue();">
                <div>
                    <i class="icon ion-play"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <canvas class="chart chart-doughnut" on-touch="stop(true);" on-release="stop(false);" height="100%" width="100%" chart-colours="chart.colours" chart-options="chart.options" chart-data="chart.data" chart-labels="chart.labels">
            </canvas>
            <div class="counter-button stop">
                <div>
                    <i class="icon ion-stop"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- COUNTER's -->
    <div class="row counters">
        <div class="col">
            <div>
                <i class="icon ion-ios-stopwatch-outline"></i>
                <span>{{ resume.seconds | time}}</span>
            </div>
        </div>
        <div class="col">
            <div>
                <i class="icon ion-ios-speedometer-outline"></i>
                <span>{{ resume.currentSpeed | speed}}</span>
            </div>
        </div>
    </div>
    <!-- EMERGENCY BUTTON -->
    <ion-footer-bar ng-if="emergencyIsEnabled();">
        <button class="button button-block" ng-click="emergency();">
            <div>
                <i class="icon ion-plus"></i>
            </div>
            <span>Emergencia</span>
        </button>
    </ion-footer-bar>
</ion-view>
