<ion-view class="routes save-for-later" can-swipe-back="false">
    <br />
    <center>
        <p>
            No hemos podido terminar de guardar la ruta actual.
            <br />
            <br /> Pero tranquilo!!, lo haremos en cuanto volvamos a tener conexión a internet y te avisaremos en cuanto lo hagamos!.
            <br />
            <br />
            <br /> Mientras tanto.... sigue realizando mas rutas!.
            <br />
        </p>
    </center>
    <!-- CONTINUE BUTTON -->
    <ion-footer-bar>
        <button class="button button-block" ng-click="continue();">
            <i class="icon ion-paper-airplane"></i>
            <span>Entendido!</span>
        </button>
    </ion-footer-bar>
</ion-view>
