<ion-view class="route share" can-swipe-back="false">
    <form name="form">
        <div class="row maps">
            <div class="col">
                <!-- MAPS -->
                <track-viewer static="true">
                </track-viewer>
            </div>
            <div class="col">
                <!-- COUNTER's -->
                <div class="row counters">
                    <div class="col">
                        <div class="counter time">
                            <div class="row">
                                <div class="col col-25 icon">
                                    <i class="icon ion-ios-stopwatch-outline"></i>
                                </div>
                                <div class="col value">
                                    <span>{{ resume.seconds | time}}</span>
                                </div>
                                <div class="col col-20 unit">
                                    min
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row counters">
                    <div class="col">
                        <div class="counter">
                            <div class="row">
                                <div class="col col-25 icon">
                                    <i class="icon ion-ios-speedometer-outline"></i>
                                </div>
                                <div class="col value">
                                    <span>{{ resume.speed | speed}}</span>
                                </div>
                                <div class="col col-20 unit">
                                    km/hr
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row counters">
                    <div class="col">
                        <div class="counter">
                            <div class="row">
                                <div class="col col-25 icon">
                                    <i class="icon ion-map"></i>
                                </div>
                                <div class="col value">
                                    <span>{{ resume.distance | distance}}</span>
                                </div>
                                <div class="col col-20 unit">
                                    km.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row counters">
                    <div class="col">
                        <div class="counter">
                            <div class="row">
                                <div class="col col-25 icon">
                                    <i class="icon ion-fireball"></i>
                                </div>
                                <div class="col value">
                                    <span>{{ resume.calories | calories }}</span>
                                </div>
                                <div class="col col-20 unit">
                                    kcal
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- PHOTOS -->
        <div class="list photos">
            <a class="item item-icon-left item-icon-right" ng-click="photos();">
                <i class="icon ion-images"></i>
                <span>{{resume.photos.length}} Fotos Tomadas</span>
                <i class="icon ion-ios-arrow-right"></i>
            </a>
        </div>
        <!-- SENSATION'S -->
        <div class="sensation">
            <div class="row states">
                <div class="col title">
                    ¿Como te sentiste?
                </div>
                <div class="col sensation-1" ng-click="route.sensation = 'RELA';" ng-class="{'active': route.sensation == 'RELA' }">
                    <i class="icon ion-android-happy"></i>
                </div>
                <div class="col sensation-2" ng-click="route.sensation = 'CANS';" ng-class="{'active': route.sensation == 'CANS' }">
                    <i class="icon ion-android-sad"></i>
                </div>
                <div class="col sensation-3" ng-click="route.sensation = 'AGOT';" ng-class="{'active': route.sensation == 'AGOT' }">
                    <i class="icon ion-sad-outline"></i>
                </div>
            </div>
            <input type="hidden" required ng-model="route.sensation">
        </div>
        <!-- FORM -->
        <div class="list form">
            <label class="item item-input item-floating-label">
                <span class="input-label">
                    <i class="icon ion-map placeholder-icon"></i>
                    Nombre de la Ruta
                </span>
                <input type="text" maxlength="100" required select-text-on-click ng-model="route.name" placeholder="Ingrese el Nombre de la Ruta">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">
                    <i class="icon ion-ios-book placeholder-icon"></i>
                    Comentario
                </span>
                <textarea rows="4" maxlength="500" ng-model="route.observation" placeholder="Observaciones de la ruta (Opcional)"></textarea>
            </label>
        </div>
        <!-- SOCIAL SHARING -->
        <div class="row social-share">
            <div class="col spacer">
            </div>
            <div class="col" ng-click="share('facebook');">
                <img ng-src="bundles/app/css/images/social-sharing/fb.png" />
            </div>
            <div class="col" ng-click="share('twitter');">
                <img ng-src="bundles/app/css/images/social-sharing/twitter.png" />
            </div>
            <div class="col" ng-click="share('instagram');">
                <img ng-src="bundles/app/css/images/social-sharing/a.png" />
            </div>
        </div>
        <!-- FOOTER -->
        <ion-footer-bar>
            <button class="button button-block" ng-disabled="form.$invalid" ng-click="save();">
                <i class="icon ion-android-share"></i>
                <span>Compartir Ruta</span>
            </button>
        </ion-footer-bar>
    </form>
</ion-view>
