<ion-view class="routes create stop" can-swipe-back="false">
    <ion-content>
        <!-- HEADERS -->
        <div class="row common-actions">
            <div class="col no-padding" ng-click="takePicture();">
                <i class="icon ion-ios-camera"></i>
                <div>Tomar Foto</div>
                <span ng-if="resume.photos.length>0" class="badge badge-assertive">{{resume.photos.length}}</span>
            </div>
        </div>
        <!-- DISTANCE -->
        <div class="row distance">
            <div class="col">
                <div>
                    {{ resume.distance | distance}}
                </div>
                <div>
                    Kilometros
                </div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="indicators">
            <div class="row">
                <div class="col">
                    <!-- INDICATOR -->
                    <div class="value">
                        {{ resume.altitude | distance }}
                    </div>
                    <div class="unit">
                        Altitud (mts)
                    </div>
                </div>
                <div class="col">
                    <!-- INDICATOR -->
                    <div class="value">
                        {{ resume.speed | speed }}
                    </div>
                    <div class="unit">
                        Velocidad (km/hr)
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <!-- INDICATOR -->
                    <div class="value">
                        {{ resume.seconds | time }}
                    </div>
                    <div class="unit">
                        Duración (min)
                    </div>
                </div>
                <div class="col">
                    <!-- INDICATOR -->
                    <div class="value">
                        {{ resume.pauses | time }}
                    </div>
                    <div class="unit">
                        Pausas (min)
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
    <!-- FOOTER -->
    <ion-footer-bar>
        <div class="row no-padding">
            <div class="col no-padding">
                <!-- SAVE -->
                <button class="button button-block pause" ng-click="save();">
                    <i class="icon ion-trophy"></i>
                    <span>Guardar</span>
                </button>
            </div>
            <div class="col no-padding">
                <!-- DISCARD -->
                <button class="button button-block discard" ng-click="discard();">
                    <i class="icon ion-trash-a"></i>
                    <span>Descartar</span>
                </button>
            </div>
        </div>
    </ion-footer-bar>
</ion-view>
