<ion-view title="Finalizando Sesión" class="route create upload">
    <!-- WE NEED TO USE THE TRACK VIEWER -->
    <track-viewer ng-hide="true">
    </track-viewer>
    <!-- CONTENT -->
    <ion-list>
        <ion-item ng-repeat="item in events" class="item">
            {{item}}
        </ion-item>
    </ion-list>
    <!-- EMERGENCY BUTTON -->
    <ion-footer-bar ng-if="error">
        <button class="button button-block" ng-click="retry();">
            <div>
                <i class="icon ion-plus"></i>
            </div>
            <span>Reintentar</span>
        </button>
    </ion-footer-bar>
</ion-view>
