<content>
    <div class="title">
        Notificaciones y Alertas
    </div>
    <div class="description">
        Para que estes al tanto de todo lo que pasa en la comunidad, 
        activa las notificaciones y enterate de lo mas relevante 
        en el mundo tuerca.
    </div>
    <div class="actions">
        <button ng-click="activate();">
            <i class="ion ion-ios-chatboxes-outline"></i> Habilitar Notificaciones
        </button>

        o 

        <a ng-click="skip()">Saltar</a>
    </div>
</content>
