$stroke_color: #ffc107;

flex-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
    .spinner {
        stroke: $stroke_color;
        fill: $stroke_color;
        svg {
            stroke: $stroke_color;
            .stop1 {
                stop-color: $stroke_color;
            }
            .stop2 {
                stop-color: $stroke_color;
            }
        }
    }
    > .message {
        font-size: 1.2em;
        opacity: 0.5;
    }
    > .legend {
        opacity: 0.4;
        margin-top: 0.5em;
        font-size: 0.9em;
        line-height: 1em;
    }
}
